<%- include('partials/header'); -%>

<header>
  <div class="note">
    <img src="/note.png" alt="">
  </div>
  <div class="headings">
    <h2>Conan Notes</h2>
    <h3>By Conan Coder</h3>
    <a href="/notes" class="btn">View Notes</a>
    <a href="/add-note" class="btn">New Note</a>

  </div>
</header>


<%- include('partials/footer'); -%>